<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="net.o2oa.flutter.geolocation">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application>
    <service
        android:enabled="true"
        android:exported="false"
        android:foregroundServiceType="location"
        android:name=".GeoLocationService"/>
    </application>
</manifest>
